<div class="form-background">
  <div id="errors">
  </div>
  <div id="form-container" class="form-container">
    <h1>Post a flight</h1>

    <form role="form" class="flight-form">
      <div class="form-group">  
        <label>Aircraft
          <input type="text" 
                 name="flight[aircraft]" 
                 class="form-control" 
                 value="<%= flight.escape('aircraft') %>">
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" id="filepicker">Upload an image</button>
        <input type="hidden" 
               name="flight[photo_url]" 
               value="<%= flight.escape('photo_url') %>"
               id="flight_photo_url">
      </div>
      
      <div class="form-group">
        <img src="<%= flight.get('photo_url') %>">
      </div>

      <div class="form-group">
        <label>Description
          <textarea name="flight[description]" 
                    class="form-control description"><%= flight.escape('description') %></textarea>
        </label>
      </div>

      <div class="form-group">
        <label>Departure Date
          <input type="date" 
                 name="flight[departure_date]" 
                 class="form-control"
                 value="<%= flight.escape('departure_date') %>">
        </label>
      </div>

      <div class="form-group">
        <label>Departure Airport
          <input type="text" 
                 name="airport_name" 
                 id="airport-name" 
                 class="form-control"
                 <% if (flight.departureAirport) { %>
                   value="<%= flight.departureAirport.escape("name")%>"
                 <% } %>
                 >
        </label>
        <input type="hidden" 
               name="flight[departure_airport_id]" 
               id="airport-id"
               <% if (flight.departureAirport) { %>
                 value="<%= flight.departureAirport.id %>"
               <% } %>
               >
      </div>

      <div>
        <p>Don't see your airport? <a href="javascript:void(0)" id="new-airport-link">Add it!</a></p>
      </div>

      <div id="airport-creation">
      </div>

      <div class="form-group">
        <label>Number of Passengers
          <input type="number" 
                 name="flight[passengers]" 
                 class="form-control" 
                 value="<%= flight.escape('passengers') %>">
        </label>
      </div>

      <div class="form-group">
        <label>Price (USD)
          <input type="number" 
                 name="flight[price]" 
                 class="form-control"
                 value="<%= flight.escape('price') %>">
        </label>
      </div> 

      <div class="form-group">
        <input type="submit" value="Post Flight!" class="btn btn-primary" id="submit-button">
      </div>
    </form>
  </div>
</div>