<div class="search-item">

  <div class="small-flight-picture"><img class="flight-thumbnail" src="<%= flight.get('photo_url') %>/convert?w=300"></div>

  <div class="price">$<%= flight.escape("price") %></div>

  <div class="profile-thumbnail search-owner">
    <img src="<%= flight.owner.escape('photo_url') %>/convert?w=50">
  </div>

  <div class="flight-details">
    <p><%= flight.escape("aircraft") %></p>
    <p><%= flight.departureAirport.escape('name') %> - <%= flight.escape('departure_date') %></p>
  </div>

</div>