<div id="large-flight-picture">
  <img src="<%= flight.get('photo_url') %>/convert?&compress=true&cache=true" class="flight-show-image">
</div>

<div id="listing-details">
  <div id="flight-details">
    <h2><%= flight.escape("aircraft") %>, 
      <% if (flight.departureAirport) { %> 
        <%= flight.departureAirport.escape('name') %> 
      <% } %>
    </h2>
    <p><%= flight.escape('description') %></p>

    <% if (flight.owner) { %>
      <div id="owner-details">
        <div class="profile-thumbnail">
          <img src="<%= flight.owner.get('photo_url') %>/convert?w=50&h=50&compress=true&cache=true">
        </div>
        <h3 class="flight-owner">Pilot: <%= flight.owner.escape('username') %></h3>
        <p><%= flight.owner.escape('description') %></p>
      </div>
    <% } %>

    <div id="comments">
    </div>
  </div>
  <div id="booking-panel">
  </div>
</div>