<nav class="navbar navbar-default" role="navigation">
  <div class="container container-fluid">
  </div>

  <div class="collapse navbar-collapse" id="aero-navbar">
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'AeroBnB', root_url %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li><%= button_to "Sign out", session_url, method: :delete %></li>
        <li><%= link_to "List a flight", root_url %></li>
      <% else %>
        <li><%= link_to "Log in", new_session_url %></li>
        <li><%= link_to "Sign up", new_user_url %></li>
      <% end %>
    </ul>
  </div>
</nav>